textarea {
    min-height: 400px;
}

.read_email {
    background-color: darkgray;
}

.email_not_read {
    background-color: white;
}


#reply {
    padding-right: 10px;
}

#archive {
    padding: 0.5rem 1rem;
}


#reply {
    padding-right: 10px;
}

#archive {
    padding: 0.5rem 1rem;
}